{% extends 'main/base.html' %}
{% load static %} 
{% block title %}Gallery{% endblock%}
{% block content %}

    
    <!-- Header -->
    <div class="header">
      <h1>Our Horses & Pictures around the Riding School</h1>
     
    </div>
   <!-- Photo Grid -->
   <div class="container">
    <div class="row"> 
      <div class="column">
        <img src="{% static 'img/gallery/alsvarar.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/3-girls-ridban.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/ena.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/flori.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/lopper.jpg' %}"  style="width:100%">
        <img src="{% static 'img/gallery/Olga2.jpg' %}"  style="width:100%">
        
      </div>
      <div class="column">
        <img src="{% static 'img/gallery/tomalina.jpg' %}"  style="width:100%">
        <img src="{% static 'img/gallery/teaching_nw_rider.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/ridtält_.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/kid_hugging_horse.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/brush_horse_2_.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/rid_ut_4-1.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/fm_flowers.jpg' %}" style="width:100%">
        
      </div>  
      <div class="column">
        <img src="{% static 'img/gallery/ida-nattfari-stall-.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/snow.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/tyra_rid_ut_.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/tora_lea.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/tomalina.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/fm_bedomning.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/take_a_look.jpg' %}" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'img/gallery/ridpadock.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/rapp.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/Olga2.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/lopper.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/loppa-kidd-phi.jpg' %}" style="width:100%">
        <img src="{% static 'img/gallery/bylgja.jpg' %}" style="width:100%">
      </div>
    </div>
    </div>
{% endblock %}